.app__wrapper {
  width: 100vw;
  height: 100vh;
}

.main__wrapper {
  margin: 0 auto;
  max-width: 1144px;
  padding: 0 2em;
  background-color: #fff;

  @media screen and (max-width: 720px) {
    padding: 0 .5em;
  }

  @media screen and (max-width: 580px) {
    padding: 0;
  }
}

.brightness {
  background-color: #fff;
  filter: brightness(0.4);
  transition: filter .3s ease-in;
}